@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

.theme-light {
    --background-color: white;
    --primary-color: blueviolet;
    --text-primary-color: #555;
    --text-secondary-color: #777;
    --shadow-color: #ddd;
    --line-color: #eaeaea;
}

.theme-dark {
    --background-color: #222;
    --primary-color: blueviolet;
    --text-primary-color: #aaa;
    --text-secondary-color: #888;
    --shadow-color: #1d1d1d;
    --line-color: #2a2a2a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

html {
    color: var(--text-primary-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 0px 0 40px;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--text-primary-color);
}

h1 {
    font-size: 3.3rem;
    word-spacing: 15px;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-secondary-color);
}

p {
    margin: 30px 0;
    line-height: 30px;
    letter-spacing: 2px;
    color: var(--text-secondary-color);
}

.container {
    margin: 0 auto;
    width: calc(100% - 100px);
    max-width: 1200px;
}

header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}

nav {
    width: calc(100% - 100px);
    max-width: 1200px;
    margin: 0 auto;
}

nav,
.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 200ms;
}

.button:hover {
    transform: scale(1.05);
}

.button:nth-child(1):hover {
    transform: none;
}

section {
    margin: 50px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

#academic-experience,
#skills,
#contact {
    scroll-margin-top: 150px;
}

#description {
    height: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#social-media {
    display: flex;
    justify-content: flex-end;
}

#about {
    margin: 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-container {
    position: relative;
}

#profile-image {
    border: 8px solid var(--background-color);
    border-radius: 50%;
    width: 400px;
}

#circle {
    width: 400px;
    height: 400px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 50px;
    z-index: -1;
}

.indicator {
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.separator {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px auto 60px;
}

.line {
    height: 1px;
    width: calc(100% - 320px);
    background-color: var(--line-color);
}

.grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}

.card-item {
    width: 30%;
    height: 300px;
    box-shadow: 0 0 5px var(--shadow-color);
    cursor: pointer;
    transition: transform 200ms;
}

.card-item:hover {
    transform: translateY(-20px);
}

.skill {
    width: 15%;
    display: flex;
    cursor: pointer;
    position: relative;
    transition: transform 300ms;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill:hover::after {
    content:'';

    bottom:20px;
    left: calc(50% - 5px);

    width: 10px;
    height: 10px;

    border-radius: 50%;

    position:absolute;
    
    background: var(--primary-color);
}

#contact {
    background: blueviolet;
    max-width: 100%;
    margin: 0 0;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

input,
textarea {
    width: 500px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px 30px;
    color: black;
    font-size: 1.1rem;
    resize: none;
    background-color: white;
    position: relative;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
}

input {
    height: 50px;
}

input[type="submit"] {
    cursor: pointer;
    width: 30%;
    margin-left: auto;
}

.menu-item {
    position: relative;
    padding: 0 5px;
}

.menu-item::after {
    content: " ";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: transparent;
    bottom: -10px;
    left: 0;

    transition: all 300ms;
}

.menu-item:hover::after {
    background-color: #888;
    width: 100%;
}